<div class="social-links">
	<h3>Hamsterboy elsewhere</h3>
	<ul>
		<li>
			<a href="http://www.facebook.com/hamsterboy" title="Visit my Facebook profile">
				<img src="/assets/images/ui/social-icons/facebook.png" alt="Facebook profile"> Facebook
			</a>
		</li>
		<li>
			<a href="http://dk.linkedin.com/in/hamsterboy" title="Visit my LinkedIn profile">
				<img src="/assets/images/ui/social-icons/linkedin.png" alt="LinkedIn profile"> LinkedIn
			</a>
		</li>
		<li>
			<a href="http://vimeo.com/hamsterboy/likes" title="Visit my Vimeo profile">
				<img src="/assets/images/ui/social-icons/vimeo.png" alt="Vimeo profile"> Vimeo
			</a>
		</li>
	</ul>
</div>

