{% include header.html %}
	<body class="{{page.body_class}}">
		<div id="page">
			{% include page-top.html %}

			<h1 class="tagline">Hire me to plan and design a web site or web app, implement an existing design or do illustrations. <a href="/my-stuff/">See my work</a>, <a href="/cv">read my CV</a> and <a href="/contact">get in touch</a>.</h1>
			
			<div class="contentwrap">
				<section id="featured">
					<a href="/my-stuff/"><img src="/assets/images/featured/002.jpg" alt="" width="960" /></img></a>
				</section>
				
				<div id="content" role="main">
					{{ content }}
				</div>
			</div>
		
			{% include footer.html %}
		</div>
		{% include tracking.html %}
	</body>
</html>